---
import BaseLayout from '../layouts/BaseLayout.astro';
import StaticHeader from '../modules/static/StaticHeader.astro';

const pageTitle  = "404 Not Found"
const pageDesc   = "This is page of 404."
const pageType   = "static"
const pageRole   = "page404"
---
<BaseLayout
  pageTitle={pageTitle}
  pageDesc={pageDesc}
  pageType={pageType}
  pageRole={pageRole}
>
  <StaticHeader
    pageTitle={pageTitle}
    pageDesc={pageDesc}
  />
  <main>
    <p>ここがメインコンテンツ。</p>
  </main>
</BaseLayout>

<style>
</style>
